.main {
  margin: 0;
  font-family: "EB Garamond", serif;
}

h1 {
  text-align: center;
}

#nav li {
  display: inline;
  margin-right: 25px;
}

.slider-div {
  position: relative;
  overflow-x: hidden;
  height: 50%;
  width: 100%;
}

.nav-btn {
  background: rgb(0, 0, 0, 0.4);
  color: #ccc;
  font-size: 60px;
  padding: 5px 8px;
  position: absolute;
  top: 40%;
  z-index: 99;
}

#image-container {
  position: relative;
  overflow-x: hidden;
  width: 400%;
  transition: transform 1s;
}

img {
  display: inline-block;
  width: 25%;
}

#nav-btn-right {
  right: 0;
}

.slide-marker {
  position: absolute;
  bottom: 5%;
  left: 40%;
}

.slide-marker span {
  background: #ccc;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 15px;
  padding: 10px;
}

#pageContent {
  padding: 20px 30px;
}
